/*.navbar a:hover {
  background-color: white;
  color: black !important;
  }

.navbar-light .navbar-nav .active > .nav-link{
  color: white;
}

.navbar-nav > li{
  margin-left: 60px;
  margin-right: 60px;
}

.navbar-light .navbar-nav .nav-link{
color: white;
display: inline-block;
}
*/

.navbar-light .navbar-nav .nav-link{
  color: white !important;
}

.navbar{
background-color:black !important;
}

.navbar-light .navbar-toggler{
  border-color:white;
}

.navbar-nav > li{
margin-left: 30px;
margin-right: 30px;
}

button{
  background-color: white !important;
}

#logo {
  width: 45px;
  height: 45px;
}

footer{
  background-color: black;
  color:white;
}

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.3;
  z-index: 1;
}

h1{
  font-family: 'Amatic SC', cursive;
  font-size: 100em;
}

#title{
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll; /*https://source.unsplash.com/XT5OInaElMw/1600x900*/
  }
  header video {
    display: none;
  }
}

p.card-text{
  font-size: 0.8em;
}

h5{
  background-color: black;
  color: white;
  padding-bottom: 10px;
}

h3{
  padding: 10px;
  font-family: 'Amatic SC', cursive;
  font-size: 4em;
  text-shadow: black;
}

h2{
  font-family: 'Amatic SC', cursive;
  font-size: 4em;
  text-shadow: black;
}

.card-title {
  margin-bottom: 0rem;
}

#about{
  color:white;
}