/*.navbar a:hover {
  background-color: white;
  color: black !important;
  }

.navbar-light .navbar-nav .active > .nav-link{
  color: white;
}

.navbar-nav > li{
  margin-left: 60px;
  margin-right: 60px;
}

.navbar-light .navbar-nav .nav-link{
color: white;
display: inline-block;
}
*/

.navbar-light .navbar-nav .nav-link{
  color: white !important;
}

.navbar{
background-color:black !important;
}

.navbar-light .navbar-toggler{
  border-color:white;
}

.navbar-nav > li{
margin-left: 30px;
margin-right: 30px;
}

button{
  background-color: white !important;
}

#logo {
  width: 45px;
  height: 45px;
}

footer{
  background-color: black;
  color:white;
}

 header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
} 

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.3;
  z-index: 1;
}

h1{
  font-family: 'Amatic SC', cursive;
  font-size: 100em;
}

#title{
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
}

 @media (pointer: coarse) and (hover: none) {
  header .overlay{
    background: url('https://images.unsplash.com/photo-1433086966358-54859d0ed716?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80') black no-repeat center center scroll; /*https://source.unsplash.com/XT5OInaElMw/1600x900*/
   opacity: 0;
  }
  header video {
    display: none;
  }
} 

p.card-text{
  font-size: 0.8em;
}

h5{
  background-color: black;
  color: white;
  padding-bottom: 10px;
}

h3{
  padding: 10px;
  font-family: 'Amatic SC', cursive;
  font-size: 4em;
  text-shadow: black;
}

h2{
  font-family: 'Amatic SC', cursive;
  font-size: 4em;
  text-shadow: black;
}

.card-title {
  margin-bottom: 0rem;
}

#about{
  color:black;
  position: relative;
  width: 100%;
  padding-right: 40px;
  padding-left: 40px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 4em;
  padding-bottom: 16em;
  
}

/*@media (max-width: 768px) {
  .overlay {
      background-image: url(../images/Time\ Lapse\ Video\ Of\ Night\ Sky.mp4);
      background-size: cover;
  }
}*/

.mb-5{
  padding-bottom: 3rem !important;
}

/* .col-12{
  flex: 0 0 100%;
  max-width: 100%;
} */

.CV{
  color: black !important;
  font-weight: bold;
}

#contact{
  /* background-color: #000000; */
  color: white;
  text-shadow: 2px black !important;
  background-image: url(../images/smoke.jpg);
  height:400px;
  width:600px;
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 2px 2px 4px #000000;
  
}
 
#linkedin{
  color:white !important;
}

.lead{
  font-weight:bold;
  text-shadow: 2px 2px 4px #000000;
}

a{
  text-shadow: 2px 2px 4px #000000;
  color: white;
}

.navbar a:hover {
  background-color: white;
  color: black !important; 
  }

